<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
    {{>header}}
        <img class="portrait" src="./assets/ME.jpg" alt="a goofball">
        <p>Hi, I'm Mike!</p>
        <p>This was my first "full stack" app. It's not very fancy but there is a lot of new stuff (for me) going on in the background. There are two async api calls to two different apis, it uses node.js along with handlebars, and is deployed to the web on Heroku. </p>
    </div>
    {{>footer}}
</body>

</html>