body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* color: #006666; */
    color: cornflowerblue;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
/* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(161,255,255,1) 11.3%, rgba(6,255,255,1) 41.2%, rgba(0,216,216,1) 77.8% ); */

/* background-image: linear-gradient( 109.9deg,  rgba(251,189,100,1) 1.8%, rgba(255,207,139,1) 95.4% ); */

background-image: linear-gradient( 359.8deg,  rgba(252,255,222,1) 2.2%, rgba(182,241,171,1) 99.3% );


}

.portrait {
    width: 250px;
    border-radius: 10px;
}

.main-content {
    flex-grow: 1;
}

header {
    margin: 16px 0 48px 0;
}

h1 {
    /* color: cornflowerblue; */
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #006666;
    margin-right: 16px;
    text-decoration: none;
}

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}

.card {
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 150px;
    border: 1px solid #888888;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #888888;
    padding: 10px;
}

form {
    padding: 50px 0 50px 0;
}
input {
    background: #FFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 3px 3px 10px #888888;
    
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: cornflowerblue;
    color: #FFF;
    padding: 8px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #888888;

}